.cover {
    display: block;
    transition: transform ease .3s;
}

.cover:hover {
    transform: scale(1.25);
}

.flip {
    background-image: url("/frontend/public/plans/actualizar.png");
    background-position: center;
    background-repeat: no-repeat;
}