.plans {
    display: block;
    position: relative;
    margin: 1rem auto;
    max-width: 400px;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    padding: 0;
    border: 1rem;
}

.plans img {
    display: block;
    transition: transform ease .3s;
}

.plans:hover img {
    transform: scale(1.25);
}

.plans::before {
    content: '';
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transition: opacity ease .3;
    opacity: 0;
}

.plans:hover::before {
    opacity: 0.75;
}

.plans p {
    display: block;
    font-size: 20px;
    margin: 0;
    position: absolute;
    z-index: 2;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #fff;
    opacity: 0;
    transition: bottom ease .3s, opacity ease .3s;
}

.plans:hover p {
    bottom: 30%;
    opacity: 1;
}

.plans::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    background-image: url('/plans/plane.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    z-index: 2;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    opacity: 0;

    transition: top 0.3s ease, opacity 0.3s ease;
}


.plans:hover::after {
    top: 40%;
    opacity: 1;
}